<div id="create-todo">
  <%= text_field_tag "empty", "new todo" %>
</div>


<div id="todo-list">
  <ul>
  <% @todo_list.todos.each do |todo| %>
    <li class="todo"><%= todo.content %></li>
  <% end %>    
  </ul>
</div>
