body {
  background-color: #f7f7f7;
  font-family: helvetica,sans-serif;
}

#main-content {
  margin-left: 100px;
  background-color: white;
  width: 800px;
  min-height: 600px;
  padding: 10px;
}

#main-content h1 {
  text-align: center;
}


